
body {
  margin: 0;
  font-family: Arial, sans-serif;
}


.container {
  display: flex;
  min-height: 100vh;
}


.sidebar {
  width: 250px;
  background-color: #2c3e50;
  color: #fff;
  padding: 20px;
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #ecf0f1;
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%; 
  }
}
